<html>  
  <head>
  	 <link href="/css/flex.css" rel="stylesheet" type="text/css">
  	 <link href="/css/margin.css" rel="stylesheet" type="text/css">
  	 <link href="/css/padding.css" rel="stylesheet" type="text/css">
  	 <link href="/css/override-defaults.css" rel="stylesheet" type="text/css">
    <title>Toot Sweets</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>  